<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YuGiOh Card Info</title>
    <link rel="stylesheet" type="text/css" href="css/background.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container-fluid">
    {{> navbar}}

    <div class="row">
        <div class="col text-center mb-5">
            <h1>YuGiOh Database</h1>
            <h2>Card Info</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{#each show_info}}
                <div>Name: {{this.name}}</div>
                <div>Type: {{this.type}}</div>
                <div>Description: {{this.desc}}</div>
                {{#if this.atk}}<div>Attack: {{this.atk}}</div>{{/if}}
                {{#if this.def}}<div>Defense: {{this.def}}</div>{{/if}}
                {{#if this.def}}<div>Level: {{this.level}}</div>{{/if}}
                <div>Race: {{this.race}}</div>
                {{#if this.def}}<div>Attribute: {{this.attribute}}</div>{{/if}}
                {{#if this.archetype}}<div>Archetype: {{this.archetype}}</div>{{/if}}
                <img src="{{this.image_url}}" width="300" height="441" alt="YuGiOh_Card">
            {{/each}}
        </div>
    </div>

    {{> bootstrap_js}}
</body>
</html>