<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YuGiOh Card Info</title>
    <link rel="stylesheet" type="text/css" href="css/background.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container-fluid">
    {{> navbar}}

    <div class="row">
        <div class="col text-center mb-5">
            <h1>YuGiOh Database</h1>
            <h2>Card Info</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{#each show_info}}
                <div>{{this.name}}</div>
                <div>{{this.type}}</div>
                <div>{{this.desc}}</div>
                {{this.atk}}
                {{this.def}}
                {{this.level}}
            {{/each}}
        </div>
    </div>

    {{> bootstrap_js}}
</body>
</html>