<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deck List</title>
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container-fluid text-light">
    {{> ygo_navbar}}

    <div class="row justify-content-center">
        <div class="col text-center mb-5" id="dark_opacity">
            <h1>YuGiOh Database</h1>
            <h2>Deck List</h2>
        </div>
    </div>

    {{#if delete}}
        <div class="row justify-content-center text-center mt-5 mb-5">
            <div class="display-2" id="dark_opacity"><p>{{delete_deck}}</p></div>
        </div>
    {{/if}}

    {{#if list}}
        <div class="row justify-content-center">
            <div class="accordion col-8 text-light" id="accordionExample">
                {{#each deck}}
                    <div class="card text-light" id="dark_opacity">

                        <div class="card-header text-center" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-dark btn-outline-light btn-lg" type="button" data-toggle="collapse" data-target="#{{this.deck_id}}" aria-expanded="true" aria-controls="collapseOne">
                                    <h4>{{this.deck_name}}</h4>
                                </button>
                            </h5>
                        </div>

                        <div id="{{this.deck_id}}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <div class="row d-flex justify-content-center">
                                    <div class="w-100 border border-primary"></div>
                                    <form action="/yugioh/delete_deck/{{this.deck_name}}" method="post">
                                        <button class="btn btn-dark btn-outline-danger btn-lg mx-3" type="submit">Delete Deck</button>
                                        <a class="btn btn-dark btn-outline-success btn-lg mt-3 mb-3" href="/yugioh/deck_list" role="button">Refresh</a>
                                    </form>
                                    <div class="w-100 border border-primary"></div>

                                    {{#each this.deck}}
                                        <div class="col d-flex justify-content-center align-items-center">
                                            {{#if this.image_url}}<a class="my-2 mx-2" href="/yugioh/card_info/{{this.id}}"><img class="my-2 mx-2" src="{{this.image_url}}" width="300" height="441" alt="YuGiOh_Card"></a>{{/if}}
                                        </div>
                                        <div class="col d-flex justify-content-center align-items-center">
                                            <div>
                                                <div class="mb-1"><span class="font-weight-bold">Name: </span> {{this.name}}</div>
                                                {{#if this.type}}<div class="mb-1"><span class="font-weight-bold">Type: {{this.type}}</div>{{/if}}
                                                {{#if this.desc}}<div class="mb-1"><span class="font-weight-bold">Description: </span>{{this.desc}}</div>{{/if}}
                                                {{#if this.def}}<div class="mb-1"><span class="font-weight-bold">Level: </span>{{this.level}}</div>{{/if}}
                                                {{#if this.race}}<div class="mb-1"><span class="font-weight-bold">Race: </span>{{this.race}}</div>{{/if}}
                                                {{#if this.def}}<div class="mb-1"><span class="font-weight-bold">Attribute: </span>{{this.attribute}}</div>{{/if}}
                                                {{#if this.archetype}}<div class="mb-1"><span class="font-weight-bold">Archetype: </span>{{this.archetype}}</div>{{/if}}

                                                <form action="/yugioh/delete/{{../this.deck_name}}/{{this.id}}" method="post">
                                                    <button class="btn btn-dark btn-outline-danger btn-lg" type="submit">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="w-100 border border-primary"></div>
                                    {{/each}}

                                </div>
                            </div>
                        </div>

                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <div class="row justify-content-center">
            <div class="col-8 text-center mb-5" id="dark_opacity">
                <a class="btn btn-link text-light" href="/yugioh/create_new_deck"><h1>CLICK HERE TO CREATE NEW DECK!</h1></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1 text-center">
                <a class="btn btn-dark btn-lg border" href="/yugioh">Home</a>
            </div>

            <div class="col-2 text-center">
                <a class="btn btn-dark btn-lg border" href="/yugioh/deck_list" role="button">Deck List</a>
            </div>

            <div class="col-1 text-center">
                <button class="btn btn-dark btn-lg border" onclick="return window.history.back()">Back</button>
            </div>
        </div>
    {{/if}}

{{> bootstrap_js}}
</body>
</html>