<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deck List</title>
    <link rel="stylesheet" type="text/css" href="/css/background.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container-fluid text-light">
    {{> ygo_navbar}}

    <div class="row justify-content-center">
        <div class="col text-center mb-5" id="dark_opacity">
            <h1>YuGiOh Database</h1>
            <h2>Deck List</h2>
        </div>
    </div>

    {{#if list}}
        <div class="row justify-content-center">
            <div class="accordion col-8 text-light" id="accordionExample">
                {{#each deck}}
                    <div class="card text-light" id="dark_opacity">

                        <div class="card-header text-center" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-dark btn-lg" type="button" data-toggle="collapse" data-target="#{{this.deck_id}}" aria-expanded="true" aria-controls="collapseOne">
                                    <h4>{{this.deck_name}}</h4>
                                </button>
                            </h5>
                        </div>

                        <div id="{{this.deck_id}}" class="collapse border border-primary" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <h1>{{this.deck_name}} Deck</h1>
                                {{#each this.deck}}
                                    <p>{{this.name}}</p>
                                    {{#if this.image_url}}<img src="{{this.image_url}}" width="300" height="441" alt="YuGiOh_Card">{{/if}}
                                {{/each}}
                            </div>
                        </div>

                    </div>
                {{/each}}
            </div>
        </div>
    {{else}}
        <div class="row justify-content-center">
            <div class="col-8 text-center mb-5" id="dark_opacity">
                <a class="btn btn-link text-light" href="/yugioh/create_new_deck"><h1>ITS EMPTY, CLICK HERE TO CREATE NEW DECK!</h1></a>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-1 text-center">
                <a class="btn btn-dark btn-lg border" href="/yugioh">Home</a>
            </div>

            <div class="col-1 text-center">
                <button class="btn btn-dark btn-lg border" onclick="return window.history.back(-1)">Back</button>
            </div>
        </div>
    {{/if}}

{{> bootstrap_js}}
</body>
</html>